*{
    padding: 0%;
    margin: 0%;
}

h1{
    text-align: center;
    padding: 35px;
    background-color: rgba(21, 155, 99, 0.164);
}
h2{
    padding: 1rem;
    margin: 1rem;

}
p{
    text-indent: 5%;
    padding: 3px
}
hr.style-three {
    border: 0;
    border-bottom: 1px dashed rgb(102, 36, 36);
    background: rgb(173, 170, 170);
}
input[type=button] {
    background-color: #65d6af;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }